/* Global Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

/* Container Styling */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

/* Camera Preview Styling */
.camera-container {
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.controls {
    margin-bottom: 20px;
}

/* Timer Styling */
#timer {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Buttons */
button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #007bff;
    color: white;

}

.next-button {
    background-color: #007bff;
    color: white;
}

.next-button:hover {
    background-color: #0056b3;
}

#switchButton {
    background-color: #28a745;
    color: white;
}

#switchButton:hover {
    background-color: #218838;
}
